<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="../CSS/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <form id="container" onsubmit="forgotForm(event)" method="POST">
        <div id="heading-div">Get Password</div>
        <div class="email-div">
            <input type="email" name="email" class="input" placeholder="E-mail" id="email-ip" required>
        </div>
        <div id="button-div">
            <button type="submit" class="btn" id="btn">Send</button>
        </div>
        <div class="login-div" id="forgot">
            <h2 id="term-condition" style="display: none;">Check Your MailBox.<br><a style="cursor: pointer;" href="./login.html">Click Here to Log In</a></strong></a></h2>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JS/login.js"></script>
</body>

</html>