<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Traker</title>
  <link rel="stylesheet" href="../CSS/forgotpasswordform.css">
</head>

<body>
  <form id="container" onsubmit="resetPassword(event)">
    <div id="heading-div">Reset Password</div>
    <div class="email-div">
      <input type="email" name="email" class="input" placeholder="E-mail" id="email-ip" required>
    </div>
    <div class="email-div">
      <input type="password" name="password" class="input" placeholder="Password" id="password-ip" required>
    </div>
    <div class="password-div">
      <i class='fa fa-lock' id="lc"></i>
      <input type="password" name="confirm_password" class="input" placeholder="Confirm Password"
        id="confirm_password-ip" required>
    </div>
    <div id="button-div">
      <button type="submit" class="btn" id="btn">Submit</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="../JS/login.js">
    </script>
</body>

</html>